:root {
  --dorianGrey: #2F3C42;
  --dusk: #114B5F;
  --outerspace: #44565F;
  --payneGrey: #586F7C;
  --aqua: aqua;
  --mint: #A0C0C2;
  --offWhite: #E5EEF1;
  --offMint: #B8DBD9;
  --palePink: #e9cdcd;
  --timberwolf: #E5DAD9;

}




body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--offMint);

}


.bttn {
  background-color: #8dcbe8;
  font-family: 'Alegreya Sans SC', sans-serif;
}

