:root {
  --dorianGrey: #2F3C42;
  --dusk: #034754;
  --payneGrey: #576065;
  --aqua: rgb(30, 238, 238);
  --chartruesse: #dcf089;
  --slate-blue: #a8d5e2;
  --blue: #1f2e3c;
}


body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--blue);
}

@media (max-width: 768px) {

  /* Define styles for mobile devices here */
  .card {
    /* Adjust card size for mobile */
    width: 90%;
    /* You can adjust the width as needed */
    font-size: 20px;
    /* Adjust font size for mobile */
    /* Add any other mobile-specific styles here */
  }
}