/* Header.css */

.header {
    background-color: var(--dusk);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  
  h1 {
    font-size: 75px;
    position: relative;
    text-align: center;
    color: var(--aqua);
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 10px 10px 20px rgba(1, 1, 1, 3);
  }
  
  h2 {
    font-size: 40px;
    position: relative;
    text-align: center;
    color: var(--aqua);
    margin-top: 0px;
    margin-top: 10px;
  
    font-family: 'Alegreya Sans SC', sans-serif;
  }