.NavBar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--timberwolf);
    width: 20%;
    height: 10%;
    text-align: center;
    color: var(--outerspace);
    border-radius: .5rem;
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
