:root {
  --dorianGrey: #2F3C42;
  --dusk: #034754;
  --payneGrey: #576065;
  --aqua: rgb(30, 238, 238);
  --chartruesse: #e9ff70;
  --slate-blue: #a8d5e2;
  --blue: #1f2e3c;
}

button {
  background-color: var(--payneGrey);
  position: relative;
  width: 50%;
  height: 150px;
  margin: 10% 25%;
  text-align: center;
  color: var(--chartruesse);


  border: 5px solid var(--slate-blue);
  border-radius: 30px;
  /* Add border property */
  font-size: 30px;
  
  transition: background-color 0.3s ease;
  font-family: 'Alegreya Sans SC', sans-serif;
}

button:hover {
  background-color: var(--slate-blue);
  color: var(--chartruesse);
}