button {
  background-color: var(--payneGrey);
  position: relative;
  width: 60%;
  height: 65%;
  margin: 5% 20%;
  text-align: center;
  color: var(--palePink);


  border: 5px solid var(--offMint);
  border-radius: 30px;
  /* Add border property */
  font-size: 25px;
  
  transition: background-color 0.3s ease;
  font-family: 'Alegreya Sans SC', sans-serif;
}

button:hover {
  background-color: #999;
  color: #000;
}