.card {

  background-color: var(--payneGrey);
  position: relative;
  width: 70%;
  height: 35%;
  margin: 15%;
  text-align: center;
  color: var(--palePink);
  border-radius: .5rem;
  clear: both;
  /* Add this property to clear the float */
  border: 3px solid var(--offMint);
  border-radius: 30px;
  /* Add border property */
  font-size: 25px;
  inset: 0;

  animation: glowing 5s infinite;

  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
}