.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Center vertically within the viewport height */
}

.card {
  background-color: var(--payneGrey);
  border: 4px solid var(--offMint);
  border-radius: 30px;
  color: var(--palePink);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px; 
  width: 800px; 
  height: 220px; /* Set a fixed height for the card */
  text-align: center;
  padding:0px 25px; 
  box-sizing: border-box;
  animation: glowing 4s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px aqua;
  }
  60% {
    box-shadow: 0 0 20px aqua, 0 0 40px #fff, 0 0 70px #fff;
  }
  100% {
    box-shadow: 0 0 5px #fff;
  }
}

@media (max-width: 768px) {
  /* Define styles for mobile devices here */
  .card {
    /* Adjust card size for mobile */
    width: 80%; /* You can adjust the width as needed */
    font-size: 30px; /* Adjust font size for mobile */
    margin: 0 auto;
  }
}
